# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autotools
/config
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
/scripts/*-config

# Backup files
*~
\#*

# Misc
.deps
.libs
/src/xmlpl/DefaultLibraryPath.h
/src/xmlpl/parser/ast/ASTTypes.txt
/src/xmlpl/xmlplcc
/tests/compilerTest
/tests/prettyXMLParser
